In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
#Opening the file 100k.txt
#Creating a pandas dataframe
df1 = pd.read_csv("watdiv/100k.txt", header=None)

#Splitting dataframe into 3 columns: Subject, Attribute (Predicate), Object
df1 = df1[0].str.split('\t', expand=True).rename(columns = {0:'SUBJECT',1:'ATTRIBUTE',2:'OBJECT'})

#Removing the dot in the end of each line
df1['OBJECT'] = df1['OBJECT'].str[:-2]

In [3]:
display(df1)

                   SUBJECT          ATTRIBUTE            OBJECT
0              wsdbm:City0   gn:parentCountry   wsdbm:Country20
1              wsdbm:City1   gn:parentCountry    wsdbm:Country0
2              wsdbm:City2   gn:parentCountry    wsdbm:Country1
3              wsdbm:City3   gn:parentCountry    wsdbm:Country6
4              wsdbm:City4   gn:parentCountry   wsdbm:Country15
...                    ...                ...               ...
109305  wsdbm:Purchase1497  wsdbm:purchaseFor  wsdbm:Product140
109306  wsdbm:Purchase1498           gr:price             "984"
109307  wsdbm:Purchase1498  wsdbm:purchaseFor    wsdbm:Product8
109308  wsdbm:Purchase1499           gr:price             "477"
109309  wsdbm:Purchase1499  wsdbm:purchaseFor  wsdbm:Product111

[109310 rows x 3 columns]

In [4]:
#Splitting the dataframe into properties (attribute) groups 
groups = df1.groupby('ATTRIBUTE')[['SUBJECT','OBJECT']]
dfs = {}
#Retrieving only the predicates that interest us, which are the properties of the project
for attribute in ['follows','friendOf', 'likes', 'hasReview']:
    dfs[attribute] =  groups.get_group(df1[df1['ATTRIBUTE'].str.contains(attribute)]['ATTRIBUTE'].unique()[0])

In [5]:
display(dfs)

{'follows':              SUBJECT         OBJECT
 12       wsdbm:User0   wsdbm:User24
 13       wsdbm:User0   wsdbm:User27
 14       wsdbm:User0   wsdbm:User37
 15       wsdbm:User0  wsdbm:User110
 16       wsdbm:User0  wsdbm:User148
 ...              ...            ...
 88905  wsdbm:User999  wsdbm:User957
 88906  wsdbm:User999  wsdbm:User974
 88907  wsdbm:User999  wsdbm:User975
 88908  wsdbm:User999  wsdbm:User977
 88909  wsdbm:User999  wsdbm:User995

 [31887 rows x 2 columns],
 'friendOf':              SUBJECT         OBJECT
 169      wsdbm:User2    wsdbm:User7
 170      wsdbm:User2    wsdbm:User8
 171      wsdbm:User2   wsdbm:User12
 172      wsdbm:User2   wsdbm:User13
 173      wsdbm:User2   wsdbm:User22
 ...              ...            ...
 88826  wsdbm:User998  wsdbm:User939
 88827  wsdbm:User998  wsdbm:User966
 88828  wsdbm:User998  wsdbm:User969
 88829  wsdbm:User998  wsdbm:User982
 88830  wsdbm:User998  wsdbm:User989

 [45712 rows x 2 columns],
 'likes':              SUBJECT           OBJECT
 594      wsdbm:User6  wsdbm:Product12
 595      wsdbm:User6  wsdbm:Product20
 596      wsdbm:User6  wsdbm:Product42
 597      wsdbm:User6  wsdbm:Product50
 598      wsdbm:User6  wsdbm:Product54
 ...              ...              ...
 87221  wsdbm:User983   wsdbm:Product1
 87222  wsdbm:User983  wsdbm:Product12
 88528  wsdbm:User996   wsdbm:Product0
 88529  wsdbm:User996  wsdbm:Product66
 88530  wsdbm:User996  wsdbm:Product99

 [1032 rows x 2 columns],
 'hasReview':                  SUBJECT            OBJECT
 94621     wsdbm:Product0    wsdbm:Review24
 94622     wsdbm:Product0    wsdbm:Review48
 94623     wsdbm:Product0   wsdbm:Review118
 94624     wsdbm:Product0   wsdbm:Review215
 94625     wsdbm:Product0   wsdbm:Review247
 ...                  ...               ...
 103710  wsdbm:Product248  wsdbm:Review1005
 103711  wsdbm:Product248  wsdbm:Review1014
 103712  wsdbm:Product248  wsdbm:Review1113
 103713  wsdbm:Product248  wsdbm:Review1162
 103714  wsdbm:Product248  wsdbm:Review1248

 [1453 rows x 2 columns]}

In [81]:
def hashJoin(df1,df2): #df1 first dataframe input , df2 second dataframe input
    
    last_col = df1.shape[1] - 1 #Position of the df1 last column
    
    h = defaultdict(list) #Multimap, mapping from singles values to multiple rows of the dataframe df1. 
                          #Empty at first
    
    #1) Hash phase
    for ind,r1 in df1.iterrows():
        #for each row r1, we place r1 in multimap h under key r1.Object
        h[r1[last_col]].append(list(r1))
        
    #2) Join phase   
    #For each row r2
    #and for each s2 in h under key r2.Subject
    #We do a concatenation of each element of the list s2 and r2.Object
    #And we add the element on the dataframe res_df
    res_df = pd.DataFrame((list([*(s2),r2[1]])
                           for ind,r2 in df2.iterrows() 
                           for s2 in h[r2[0]]))
    return res_df

                     0              1              2
0         wsdbm:User66    wsdbm:User2    wsdbm:User7
1        wsdbm:User110    wsdbm:User2    wsdbm:User7
2        wsdbm:User176    wsdbm:User2    wsdbm:User7
3        wsdbm:User797    wsdbm:User2    wsdbm:User7
4        wsdbm:User872    wsdbm:User2    wsdbm:User7
...                ...            ...            ...
1407863  wsdbm:User514  wsdbm:User998  wsdbm:User989
1407864  wsdbm:User702  wsdbm:User998  wsdbm:User989
1407865  wsdbm:User762  wsdbm:User998  wsdbm:User989
1407866  wsdbm:User913  wsdbm:User998  wsdbm:User989
1407867  wsdbm:User963  wsdbm:User998  wsdbm:User989

[1407868 rows x 3 columns]

In [80]:
display(df2)
df3 = hashJoin(df2,dfs[keys[3]])
display(df3)

                     0              1              2                3
0         wsdbm:User63    wsdbm:User8    wsdbm:User6  wsdbm:Product12
1         wsdbm:User74    wsdbm:User8    wsdbm:User6  wsdbm:Product12
2         wsdbm:User75    wsdbm:User8    wsdbm:User6  wsdbm:Product12
3         wsdbm:User85    wsdbm:User8    wsdbm:User6  wsdbm:Product12
4        wsdbm:User145    wsdbm:User8    wsdbm:User6  wsdbm:Product12
...                ...            ...            ...              ...
1442600  wsdbm:User905  wsdbm:User995  wsdbm:User996  wsdbm:Product99
1442601  wsdbm:User922  wsdbm:User995  wsdbm:User996  wsdbm:Product99
1442602  wsdbm:User947  wsdbm:User995  wsdbm:User996  wsdbm:Product99
1442603  wsdbm:User954  wsdbm:User995  wsdbm:User996  wsdbm:Product99
1442604  wsdbm:User999  wsdbm:User995  wsdbm:User996  wsdbm:Product99

[1442605 rows x 4 columns]

,0,1,2,3,4
0,wsdbm:User630,wsdbm:User9,wsdbm:User20,wsdbm:Product0,wsdbm:Review24
1,wsdbm:User26,wsdbm:User57,wsdbm:User20,wsdbm:Product0,wsdbm:Review24
2,wsdbm:User197,wsdbm:User57,wsdbm:User20,wsdbm:Product0,wsdbm:Review24
3,wsdbm:User351,wsdbm:User57,wsdbm:User20,wsdbm:Product0,wsdbm:Review24
4,wsdbm:User396,wsdbm:User57,wsdbm:User20,wsdbm:Product0,wsdbm:Review24
...,...,...,...,...,...
11415456,wsdbm:User186,wsdbm:User994,wsdbm:User238,wsdbm:Product248,wsdbm:Review1248
11415457,wsdbm:User221,wsdbm:User994,wsdbm:User238,wsdbm:Product248,wsdbm:Review1248
11415458,wsdbm:User361,wsdbm:User994,wsdbm:User238,wsdbm:Product248,wsdbm:Review1248
11415459,wsdbm:User762,wsdbm:User994,wsdbm:User238,wsdbm:Product248,wsdbm:Review1248
11415460,wsdbm:User851,wsdbm:User994,wsdbm:User238,wsdbm:Product248,wsdbm:Review1248

In [211]:
def sortMergeJoin(dfs):
    keys = list(dfs.keys())
    for i in range(len(dfs)-1):
        if i == 0:
            table_1 = dfs[keys[i]].copy()
        else:
            table_1 = res_df.copy()
        table_2 = dfs[keys[i+1]].copy()
        # Sort step
        table_1.sort_values(by=['OBJECT'], inplace = True)
        table_2.sort_values(by=['SUBJECT'], inplace = True)
        # Merge Step
        tb1_p, tb2_p, rows = 0, 0, []
        while(tb1_p < len(table_1) and tb2_p < len(table_2)):
            vl1 = table_1.iloc[[tb1_p]]['OBJECT'].item()
            vl2 = table_2.iloc[[tb2_p]]['SUBJECT'].item()
            if vl1 == vl2:
                #  FASTER APPROACH BUT USES DATAFRAME FEATURES
                #  subset_1 = table_1[table_1['OBJECT'] == vl1]
                #  subset_2 = table_2[table_2['SUBJECT'] == vl1]
                #  rows += [[*(s[:i+1]),r[1],r[1]] for ind1,s in subset_1.iterrows() for ind2,r in subset_2.iterrows()]
                #  tb1_p += len(subset_1)
                #  tb2_p += len(subset_2)
                rows.append([*table_1.iloc[[tb1_p]].values.tolist()[0][:i+1], *[table_2.iloc[[tb2_p]]['OBJECT'].item()]*2])
                temp_tb1_p = tb1_p + 1
                temp_tb2_p = tb2_p + 1
                while(temp_tb2_p < len(table_2)):
                    vl2_new = table_2.iloc[[temp_tb2_p]]['SUBJECT'].item()
                    if vl1 != vl2_new:
                        break
                    rows.append([*table_1.iloc[[tb1_p]].values.tolist()[0][:i+1], *[table_2.iloc[[temp_tb2_p]]['OBJECT'].item()]*2])
                    temp_tb2_p += 1
                while(temp_tb1_p < len(table_1)):
                    vl1_new = table_1.iloc[[temp_tb1_p]]['OBJECT'].item()
                    if vl1_new != vl2:
                        break
                    rows.append([*table_1.iloc[[temp_tb1_p]].values.tolist()[0][:i+1], *[table_2.iloc[[tb2_p]]['OBJECT'].item()]*2])
                    temp_tb1_p += 1
                tb1_p += 1
                tb2_p += 1
            elif vl1 < vl2:
                tb1_p += 1
            else:
                tb2_p +=1
        res_df = pd.DataFrame(rows).rename(columns = {i+2:'OBJECT'})
    res_df = res_df.drop(len(dfs)-1,axis=1).rename(columns = {'OBJECT':keys[len(dfs)-1]})
    for i in range(len(dfs)-1):
        res_df.rename(columns={i: keys[i]}, inplace=True)
    return res_df

In [ ]:
y = sortMergeJoin(dfs)

In [213]:
y

                follows       friendOf           likes         hasReview
0         wsdbm:User433  wsdbm:User687  wsdbm:Product0    wsdbm:Review24
1         wsdbm:User433  wsdbm:User687  wsdbm:Product0  wsdbm:Review1074
2         wsdbm:User433  wsdbm:User687  wsdbm:Product0  wsdbm:Review1107
3         wsdbm:User433  wsdbm:User687  wsdbm:Product0  wsdbm:Review1144
4         wsdbm:User433  wsdbm:User687  wsdbm:Product0  wsdbm:Review1158
...                 ...            ...             ...               ...
11415456  wsdbm:User903  wsdbm:User598  wsdbm:Product9  wsdbm:Review1498
11415457  wsdbm:User836  wsdbm:User598  wsdbm:Product9  wsdbm:Review1498
11415458  wsdbm:User980  wsdbm:User598  wsdbm:Product9  wsdbm:Review1498
11415459  wsdbm:User993  wsdbm:User598  wsdbm:Product9  wsdbm:Review1498
11415460  wsdbm:User361  wsdbm:User598  wsdbm:Product9  wsdbm:Review1498

[11415461 rows x 4 columns]

In [121]:
# Compared to built in pandas merge function
dfs['follows'].merge(dfs['friendOf'], left_on = 'OBJECT', right_on = 'SUBJECT').rename(columns = {'OBJECT_y':'OBJECT'})\
              .merge(dfs['likes'], left_on = 'OBJECT', right_on = 'SUBJECT').rename(columns = {'OBJECT_y':'OBJECT'})\
              .merge(dfs['hasReview'], left_on = 'OBJECT', right_on = 'SUBJECT')

C:\Users\sajus\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'OBJECT_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(
C:\Users\sajus\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'SUBJECT_x', 'OBJECT_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,SUBJECT_x,OBJECT_x,SUBJECT_y,OBJECT_x,SUBJECT_x,OBJECT_x,SUBJECT_y,OBJECT_y
0,wsdbm:User579,wsdbm:User10,wsdbm:User10,wsdbm:User614,wsdbm:User614,wsdbm:Product0,wsdbm:Product0,wsdbm:Review24
1,wsdbm:User579,wsdbm:User10,wsdbm:User10,wsdbm:User614,wsdbm:User614,wsdbm:Product0,wsdbm:Product0,wsdbm:Review981
2,wsdbm:User579,wsdbm:User10,wsdbm:User10,wsdbm:User614,wsdbm:User614,wsdbm:Product0,wsdbm:Product0,wsdbm:Review247
3,wsdbm:User579,wsdbm:User10,wsdbm:User10,wsdbm:User614,wsdbm:User614,wsdbm:Product0,wsdbm:Product0,wsdbm:Review253
4,wsdbm:User579,wsdbm:User10,wsdbm:User10,wsdbm:User614,wsdbm:User614,wsdbm:Product0,wsdbm:Product0,wsdbm:Review282
...,...,...,...,...,...,...,...,...
11415456,wsdbm:User152,wsdbm:User966,wsdbm:User966,wsdbm:User617,wsdbm:User617,wsdbm:Product141,wsdbm:Product141,wsdbm:Review1363
11415457,wsdbm:User152,wsdbm:User966,wsdbm:User966,wsdbm:User617,wsdbm:User617,wsdbm:Product141,wsdbm:Product141,wsdbm:Review1367
11415458,wsdbm:User152,wsdbm:User966,wsdbm:User966,wsdbm:User617,wsdbm:User617,wsdbm:Product141,wsdbm:Product141,wsdbm:Review1401
11415459,wsdbm:User152,wsdbm:User966,wsdbm:User966,wsdbm:User617,wsdbm:User617,wsdbm:Product141,wsdbm:Product141,wsdbm:Review1489
11415460,wsdbm:User152,wsdbm:User966,wsdbm:User966,wsdbm:User617,wsdbm:User617,wsdbm:Product141,wsdbm:Product141,wsdbm:Review746